body, html { 
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: hsl(185, 75%, 39%);
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-position: right 50vw bottom 30vh, left 48vw top 40vh;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-size: 100% !important;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

.container {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.card {
width: 650px;
height: 650px;
border-radius: 40px;
background-color: #fff;
overflow: hidden;
}

.pattern, .user-info {
width:  100%;
height: 38%;
}

.social-media{
display: flex;
flex-direction: row;
justify-content: space-evenly;
justify-items: center;
align-items: center;
color: hsl(0, 0%, 59%);
border-top: solid 1px gray;
height: 24%;
}

.pattern{
background-image: url("./images/bg-pattern-card.svg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
}

.imagem-usuario img{
height: 150px;
width: auto;
border-radius: 50%;
border: solid 4px #fff;
display: flex;
position: absolute;
top: 140px;
right: calc(50% - 79px);
}

.user-info{
display: flex;
align-items: center;
justify-content: center;
}


@media screen and (max-width: 600px) {
    .card {
  width: 90%;
  height: 50%;
    }

    .imagem-usuario img {
    height: 90px;
    top: 100px;
    right: 130px;
    }
  }